/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwi1P6vA9cyohWj0Upp9YjOZ0A59wRwS80lA&usqp=CAU');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 100%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
    color: white;
    font-size: large;
    border: 1px solid rgb(14, 166, 6);
    box-shadow: 0px 0px 10px rgb(14, 166, 6);
}

section#accelerate button:active{
    background-color: rgba(14, 166, 6, 0.534);
    color: black;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
